<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'layout-full-width.html' %} <!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
  <!-- Set the page title inside the pageTitle block -->
  {% block pageTitle %} MYS Dispensing Doctors {% endblock %} <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %} {% endblock %} <!-- Your page content goes inside the content block -->
  <!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
  {% block content %}
  <div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
              
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper"
                id="maincontent">
            <div class="nhsuk-grid-column-two-thirds">

                      <div class="nhsuk-back-link">
                        <a class="nhsuk-back-link__link" href="javascript:history.back()">
                          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                          </svg>
                          Go back</a>
                      </div>

                <header class="page-header">
                  <span class="heading-secondary">PA Admin Portal</span>
                  <h1 class="nhsuk-heading-l govuk-heading-l">Create performer details</h1>
                </header>

                <form action="create-performer-cya" method="get" class="form">


                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="performer-name">
                      Name of performer
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="performer-name" name="performer-name" type="text">
                  </div>

                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="ass-ods-code">
                      Associated ODS code
                    </label>
                    <span class="nhsuk-hint" id="date-of-birth-hint">
                      If there is more than one ODS code enter all separated by a comma
                    </span>
                    <input class="nhsuk-input nhsuk-input--width-20" id="ass-ods-code" name="ass-ods-code" type="text">
                  </div>
            
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="performer-email-address">
                      Performer email address
                    </label>
                    <input class="nhsuk-input nhsuk-input--width-20" id="performer-email-address" name="performer-email-address" type="text">
                  </div>
                  <br>
                      <button class="nhsuk-button" type="submit">
                                Continue
                      </button>
                  </form>       
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
</body>
</html>