<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  MYS Dispensing Doctors
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">


                      <div class="nhsuk-back-link">
                        <a class="nhsuk-back-link__link" href="javascript:history.back()">
                          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                          </svg>
                          Go back</a>
                      </div>


      <!-- Change the page title here -->
      <h1>
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">PA Admin Portal</span>
          Performer
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        From here you can create, update and deactivate performer details, as well as assign a performer to a contractor. 
      </p>
      <hr>
            <ul class="nhsuk-grid-row nhsuk-card-group">

              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="create-performer">Create performer</a></h2>
                    <p class="nhsuk-card__description">Create performer details, Assign admin role</p>
                  </div>
                </div>
              </li>

              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="update-performer-list-with-search">Update performer details</a></h2>
                    <p class="nhsuk-card__description">Update performer details and assign to a contractor</p>
                  </div>
                </div>
              </li>

              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="deactivate-performer-list">Deactivate performer</a></h2>
                    <p class="nhsuk-card__description">Deactivate performer details</p>
                  </div>
                </div>
              </li>

            </ul>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
