<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  MYS Dispensing Doctors
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container-fluid">

            <div class="nhsuk-main-wrapper" id="maincontent">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-two-thirds">
                      <div class="nhsuk-back-link">
                        <a class="nhsuk-back-link__link" href="javascript:history.back()">
                          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                          </svg>
                          Go back</a>
                      </div>
                          <header class="page-header">
                            <span class="heading-secondary">PA Admin Portal</span>
                            <h1 class="nhsuk-heading-l govuk-heading-l">Confirm your changes of bank details</h1>
                          </header>
                          <h3>These are the changes for Optical Illusion, ODS Code ODS4378</h3>

                  <table class="table-form">
                  
                    <thead role="rowgroup" class="nhsuk-table__head">
                      <tr role="row">
                        <th role="columnheader" class="" scope="col">
                          Details
                        </th>
                        <th role="columnheader" class="" scope="col">
                          Change from
                        </th>
                        <th role="columnheader" class="" scope="col">
                          Change to
                        </th>
                      </tr>
                    </thead>

                    <tbody class="nhsuk-table__body">
                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell ">Account name</td>
                        <td class="nhsuk-table__cell ">HSBC</td>
                        <td class="nhsuk-table__cell ">Barclays</td>
                      </tr>
                    </tbody>
                  
                    <tbody class="nhsuk-table__body">
                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell ">Account number</td>
                        <td class="nhsuk-table__cell ">12345678</td>
                        <td class="nhsuk-table__cell ">98765432</td>
                      </tr>
                    </tbody>
                  
                    <tbody class="nhsuk-table__body">
                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell ">Sortcode</td>
                        <td class="nhsuk-table__cell ">EH11 1DX</td>
                        <td class="nhsuk-table__cell ">NE11 2EE</td>
                      </tr>
                    </tbody>

                </table>

                  <div class="nhsuk-form-group">
                    <form action="updateBank"
                      class="form"
                      method="get">
                      <fieldset class="nhsuk-fieldset">
                      <h1 class="nhsuk-fieldset__heading"><legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">Do you confirm these are correct?</legend></h1>
                        
                        <br>
                        <div class="nhsuk-radios nhsuk-radios--inline">
                          <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input"
                                id="add-1"
                                name="radioInlineGroup"
                                type="radio"
                                value="Yes"> <label class="nhsuk-label nhsuk-radios__label"
                                for="add-another-1">Yes</label>
                          </div>
                          <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input"
                                id="add-2"
                                name="radioInlineGroup"
                                type="radio"
                                value="no"> <label class="nhsuk-label nhsuk-radios__label"
                                for="add-another-2">No</label>
                          </div>
                        </div>
                      </fieldset>
                      <br>

                      <button class="nhsuk-button"
                        type="submit">Continue</button>
      
                    </form>
                  </div>





            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
