<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'layout-full-width.html' %} <!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
   <!-- Set the page title inside the pageTitle block -->
  {% block pageTitle %} Lateral Flow Test {% endblock %} <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %} {% endblock %} <!-- Your page content goes inside the content block -->
  <!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
  {% block content %}
  <div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper" id="maincontent">
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">

                      <div class="nhsuk-back-link">
                        <a class="nhsuk-back-link__link" href="javascript:history.back()">
                          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                          </svg>
                          Go back</a>
                      </div>

                <header>
                  <h1>Covid-19 Lateral Flow Device Collection Service</h1>
                </header>
                <p>
                  Use this service to record the LFD Collections.
                </p>
                <p>
                  From this page you can:
                </p>
                  <ul>
                    <li> enter your daily/weekly collections for LFD test kit transactions</li>
                    <li> enter essential details about the cartons of LFD test kits you have distributed</li>
                  </ul>

                  <h2>Tell us about the cartons of LFD test kits you have distributed</h2>
                  <p>
                    We need you to enter information about the cartons of LFD test kit lots you have distributed.
                  <p>
                    For each delivery of cartons of test kits you distribute, you'll need to record:
                  </p>
                  <ul>
                    <li> if the collection was collected anonymously</li>
                    <li> the QR code</li>
                    <li> the lot number(s)</li>
                    <li> the number of cartons of test kits distributed</li>
                  </ul>
                  <br>

                  <h2>Covid-19 Lateral Flow Device Distribution Service</h2>
                  <p>If you need to use the Covid-19 Lateral Flow Device Distribution Service <a href="lft-start-page-V1">click here</a></p>

              </div>
            </div>
                  <br>
                  <form action="lft-start-day" method="post" novalidate>
                      <button class="nhsuk-button" type="submit">
                                Enter LFD collections
                      </button>
                  </form>
          </div>
        </div>
      </div>
    </div>
  </div>{% endblock %}
</body>
</html>
