<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'layout-full-width.html' %} <!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
  <!-- Set the page title inside the pageTitle block -->
  {% block pageTitle %} MYS Dispensing Doctors {% endblock %} <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %} {% endblock %} <!-- Your page content goes inside the content block -->
  <!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
  {% block content %}
  <div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
              
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper"
                id="maincontent">
            <div class="nhsuk-grid-row">
            
                      <div class="nhsuk-back-link">
                        <a class="nhsuk-back-link__link" href="javascript:history.back()">
                          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                          </svg>
                          Go back</a>
                      </div>

                <header class="page-header">
                
                  <h1 class="nhsuk-heading-l govuk-heading-l">Collection details</h1>
                </header>
                <h2>Collection date: 8 July 2021</h2>
                <span class="nhsuk-hint">
                    Key the details of a collection for this date, then select 'Enter' to add it to your submission. 
                </span>
                <span class="nhsuk-hint">
                    Once entered, each collection will appear under ‘Collections entered’. 
                </span>
                <span class="nhsuk-hint">
                    You will be able to add details of more collections for this date after each entry.
                </span>
            
                  <table class="table-form">
                    <thead></thead>

                    <tbody>
                      <tr>
                        <td  class="test-case" style="overflow: visible">
                          <div>

                              <legend class="nhsuk-fieldset__legend nhsuk-label--m">
                                  <h2 class="nhsuk-fieldset__heading">
                                  Anonymous?
                                  </h2>
                              </legend>
                              <span class="nhsuk-hint" id="date-of-birth-hint">
                                <p>Select Yes or No</p> 
                              </span>

                              <select id="anonymous-collection" class="typeahead js-hidden nhsuk-select" name="anonymous-collection" aria-required="true">
                                  <option value="No">No</option>
                                  <option value="Yes">Yes</option>
                              </select>
                          </div>
                        </td>

                        <td>
                          <div class="nhsuk-form-group">
                            <fieldset class="nhsuk-fieldset" aria-describedby="date-of-birth-hint" role="group">
                              <legend class="nhsuk-fieldset__legend nhsuk-label--m">
                                  <h2 class="nhsuk-fieldset__heading">
                                  Collection code
                                  </h2>
                              </legend>
                              <span class="nhsuk-hint" id="collection-code">
                                <p>Enter the 16 digit code
                              </span>

                              <div class="nhsuk-date-input" id="collection-code">
                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="collection-code-1" name="collection-code-1" type="number" pattern="[0-9]*">
                                  </div>
                                </div>
                              
                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <p>-</p>
                                  </div>
                                </div>

                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="collection-code-2" name="collection-code-2" type="number" pattern="[0-9]*">
                                  </div>
                                </div>

                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <p>-</p>
                                  </div>
                                </div>

                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="collection-code-3" name="collection-code-3" type="number" pattern="[0-9]*">
                                  </div>
                                </div>

                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <p>-</p>
                                  </div>
                                </div>

                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="collection-code-4" name="collection-code-4" type="number" pattern="[0-9]*">
                                  </div>
                                </div>

                              </div>
                            </fieldset>
                          </div>
                        </td>

                        <td>
                          <div class="nhsuk-form-group">
                            <fieldset class="nhsuk-fieldset" aria-describedby="date-of-birth-hint" role="group">
                              <legend class="nhsuk-fieldset__legend nhsuk-label--m">
                                  <h2 class="nhsuk-fieldset__heading">
                                  Lot numbers
                                  </h2>
                              </legend>
                              <span class="nhsuk-hint" id="date-of-birth-hint">
                                <p>Enter both lot numbers if 2 are needed</p>
                              </span>

                              <div class="nhsuk-date-input" id="lot-number">
                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <input class="nhsuk-input nhsuk-input--width-5" id="lot-number-1" name="lot-number-1" type="text">
                                  </div>
                                </div>
                              
                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <p>-</p>
                                  </div>
                                </div>

                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <input class="nhsuk-input nhsuk-input--width-5" id="lot-number-2" name="lot-number-2" type="text">
                                  </div>
                                </div>

                              </div>
                            </fieldset>
                          </div>
                        </td>


                        <td>
                          <div class="nhsuk-form-group">
                            <fieldset class="nhsuk-fieldset" aria-describedby="date-of-birth-hint" role="group">
                              <legend class="nhsuk-fieldset__legend nhsuk-label--m">
                                  <h2 class="nhsuk-fieldset__heading">
                                  Number of packs
                                  </h2>
                              </legend>
                              <span class="nhsuk-hint" id="number-of-kits">
                                <p>Enter number of packs, not kits<p/>
                              </span>

                              <div class="nhsuk-date-input" id="collection-code">
                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="number-of-kits" name="number-of-kits" type="number" pattern="[0-9]*">
                                  </div>
                                </div> 
                              </div>
                            </fieldset> 
                          </div>
                        </td>




                        <td>
                          <div class="nhsuk-form-group">
                            <fieldset class="nhsuk-fieldset" aria-describedby="date-of-birth-hint" role="group">
                              <legend class="nhsuk-fieldset__legend nhsuk-label--m">
                                  <h2 class="nhsuk-fieldset__heading">
                                  Enter
                                  </h2>
                              </legend>
                              <span class="nhsuk-hint" id="number-of-kits">

                              </span>
                              <br>
                              <form action="table-grid3" method="post" novalidate>
                                <button class="nhsuk-button" type="submit">
                                      Enter
                                </button>
                              </form>

                            </fieldset> 
                          </div>
                        </td>

                      </tr>
              
                        <tbody>
                        
                          <tr>
                            <td><p style="font-size:150%; font-weight:bold;" >Collections entered</p></td> 
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>

                          <thead class="nhsuk-table__head"
                                role="rowgroup">
                            <tr role="row">
                              <th>Anonymous?</th>
                              <th>Collection code</th>
                              <th>Lot numbers</th>
                              <th>Number of packs</th>
                              <th></th>
                            </tr>
                        </thead>

                        <tbody class="nhsuk-table__body">
                          <tr class="nhsuk-table__row"
                              role="row">
                            <td class="nhsuk-table__cell">N</td> 
                            <td class="nhsuk-table__cell">1234-5678-5555-2765</td>
                            <td class="nhsuk-table__cell">007 - 008</td>
                            <td class="nhsuk-table__cell">4</td>
                            <td class="nhsuk-table__cell--align-right">
                              <a href="">Change details</a> or <a href="">Delete</a></td>
                          </tr>
                        </tbody>

                        <tbody class="nhsuk-table__body">
                          <tr class="nhsuk-table__row"
                              role="row">
                            <td class="nhsuk-table__cell">Y</td> 
                            <td class="nhsuk-table__cell">0000-0000-0000-0000</td>
                            <td class="nhsuk-table__cell">001</td>
                            <td class="nhsuk-table__cell">4</td>
                            <td class="nhsuk-table__cell--align-right">
                              <a href="">Change details</a> or <a href="">Delete</a></td>
                          </tr>
                        </tbody>

                        <tbody class="nhsuk-table__body">
                          <tr class="nhsuk-table__row"
                              role="row">
                            <td class="nhsuk-table__cell">N</td> 
                            <td class="nhsuk-table__cell">9876-1111-5432-0022</td>
                            <td class="nhsuk-table__cell">099 - 100</td>
                            <td class="nhsuk-table__cell">4</td>
                            <td class="nhsuk-table__cell--align-right">
                              <a href="">Change details</a> or <a href="">Delete</a></td>
                          </tr>
                        </tbody>

                        <tbody class="nhsuk-table__body">
                          <tr class="nhsuk-table__row"
                              role="row">
                            <td class="nhsuk-table__cell">N</td> 
                            <td class="nhsuk-table__cell">0450-1220-9876-0000</td>
                            <td class="nhsuk-table__cell">007 - 007</td>
                            <td class="nhsuk-table__cell">4</td>
                            <td class="nhsuk-table__cell--align-right">
                              <a href="">Change details</a> or <a href="">Delete</a></td>
                          </tr>
                        </tbody>


                        <tbody class="nhsuk-table__body">
                          <tr class="nhsuk-table__row"
                              role="row">
                            <td class="nhsuk-table__cell">Y</td> 
                            <td class="nhsuk-table__cell">0000-0000-0000-0000</td>
                            <td class="nhsuk-table__cell">001</td>
                            <td class="nhsuk-table__cell">4</td>
                            <td class="nhsuk-table__cell--align-right">
                              <a href="">Change details</a> or <a href="">Delete</a></td>
                          </tr>
                        </tbody>

                        <tbody class="nhsuk-table__body">
                          <tr class="nhsuk-table__row"
                              role="row">
                            <td class="nhsuk-table__cell">N</td> 
                            <td class="nhsuk-table__cell">9876-1111-5432-0022</td>
                            <td class="nhsuk-table__cell">099 - 100</td>
                            <td class="nhsuk-table__cell">4</td>
                            <td class="nhsuk-table__cell--align-right">
                              <a href="">Change details</a> or <a href="">Delete</a></td>
                          </tr>
                        </tbody>

                        <tbody class="nhsuk-table__body">
                          <tr class="nhsuk-table__row"
                              role="row">
                            <td class="nhsuk-table__cell">N</td> 
                            <td class="nhsuk-table__cell">0450-1220-9876-0000</td>
                            <td class="nhsuk-table__cell">007 - 007</td>
                            <td class="nhsuk-table__cell">4</td>
                            <td class="nhsuk-table__cell--align-right">
                              <a href="">Change details</a> or <a href="">Delete</a></td>
                          </tr>
                        </tbody>



                        <tbody class="nhsuk-table__body">
                          <tr class="nhsuk-table__row"
                              role="row">
                            <td class="nhsuk-table__cell">N</td> 
                            <td class="nhsuk-table__cell">1234-5678-5555-2765</td>
                            <td class="nhsuk-table__cell">007 - 008</td>
                            <td class="nhsuk-table__cell">4</td>
                            <td class="nhsuk-table__cell--align-right">
                              <a href="">Change details</a> or <a href="">Delete</a></td>

                          </tr>
                        </tbody>

                        <tbody class="nhsuk-table__body">
                          <tr class="nhsuk-table__row"
                              role="row">
                            <td class="nhsuk-table__cell">Y</td> 
                            <td class="nhsuk-table__cell">0000-0000-0000-0000</td>
                            <td class="nhsuk-table__cell">001</td>
                            <td class="nhsuk-table__cell">4</td>
                            <td class="nhsuk-table__cell--align-right">
                              <a href="">Change details</a> or <a href="">Delete</a></td>
                          </tr>
                        </tbody>

                        <tbody class="nhsuk-table__body">
                          <tr class="nhsuk-table__row"
                              role="row">
                            <td class="nhsuk-table__cell">N</td> 
                            <td class="nhsuk-table__cell">9876-1111-5432-0022</td>
                            <td class="nhsuk-table__cell">099 - 100</td>
                            <td class="nhsuk-table__cell">4</td>
                            <td class="nhsuk-table__cell--align-right">
                              <a href="">Change details</a> or <a href="">Delete</a></td>
                          </tr>
                        </tbody>

                    </tbody>

                  </table>
                  <br>


                <form action="addAnotherDate"
                      class="form"
                      method="get">
                  <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset">
                      <h1 class="nhsuk-fieldset__heading"><legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">Do you want to add collections for another date?</legend></h1>
                      <div class="nhsuk-radios nhsuk-radios--inline">
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input"
                                id="add-1"
                                name="radioInlineGroup"
                                type="radio"
                                value="Yes"> <label class="nhsuk-label nhsuk-radios__label"
                                for="add-another-1">Yes</label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input"
                                id="add-2"
                                name="radioInlineGroup"
                                type="radio"
                                value="no"> <label class="nhsuk-label nhsuk-radios__label"
                                for="add-another-2">No (declare submission as complete)</label>
                        </div>
                      </div>
                    </fieldset><br>
                    <br>
                    <button class="nhsuk-button"
                          type="submit">Next</button>
                  </div>
                </form>


                  <form action="lft-start-day" method="post" novalidate>
                      <button class="nhsuk-button nhsuk-button--secondary" type="submit">
                                Save and continue later
                      </button>
                  </form>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
</body>
</html>