<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'layout-full-width.html' %} <!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
  <!-- Set the page title inside the pageTitle block -->
  {% block pageTitle %} MYS Dispensing Doctors {% endblock %} <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %} {% endblock %} <!-- Your page content goes inside the content block -->
  <!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
  {% block content %}
  <div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
              
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper"
                id="maincontent">
            <div class="nhsuk-grid-row">
            
                <header class="page-header">
                  <span class="heading-secondary">July 2021 submission</span>
                  <h1 class="nhsuk-heading-l govuk-heading-l">Collection details</h1>
                </header>
                <h2>Collection date: 8 July 2021</h2>
                <span class="nhsuk-hint">
                                Key the details of up to 8 kit collections on this page, then select 'Continue'. You can add more kit collections once you have selected 'Continue'.
                </span>
            
                  <table class="table-form">
                    <thead></thead>

                    <tbody>
                      <tr>
                        <td  class="test-case" style="overflow: visible">
                          <div>

                              <legend class="nhsuk-fieldset__legend nhsuk-label--m">
                                  <h2 class="nhsuk-fieldset__heading">
                                  Anonymous?
                                  </h2>
                              </legend>
                              <span class="nhsuk-hint" id="date-of-birth-hint">
                                Select Yes or No 
                              </span>

                              <select id="anonymous-collection" class="typeahead js-hidden nhsuk-select" name="anonymous-collection" aria-required="true">
                                  <option value="No">No</option>
                                  <option value="Yes">Yes</option>
                              </select>
                          </div>
                        </td>

                        <td>
                          <div class="nhsuk-form-group">
                            <fieldset class="nhsuk-fieldset" aria-describedby="date-of-birth-hint" role="group">
                              <legend class="nhsuk-fieldset__legend nhsuk-label--m">
                                  <h2 class="nhsuk-fieldset__heading">
                                  Collect code
                                  </h2>
                              </legend>
                              <span class="nhsuk-hint" id="date-of-birth-hint">
                                Enter the 16 digit code or zeros for an anonymous collection
                              </span>

                              <div class="nhsuk-date-input" id="collection-code">
                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="collection-code-1" name="collection-code-1" type="number" pattern="[0-9]*">
                                  </div>
                                </div>
                              
                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <p>-</p>
                                  </div>
                                </div>

                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="collection-code-2" name="collection-code-2" type="number" pattern="[0-9]*">
                                  </div>
                                </div>

                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <p>-</p>
                                  </div>
                                </div>

                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="collection-code-3" name="collection-code-3" type="number" pattern="[0-9]*">
                                  </div>
                                </div>

                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <p>-</p>
                                  </div>
                                </div>

                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="collection-code-4" name="collection-code-4" type="number" pattern="[0-9]*">
                                  </div>
                                </div>

                              </div>
                            </fieldset>
                          </div>
                        </td>

                        <td>
                          <div class="nhsuk-form-group">
                            <fieldset class="nhsuk-fieldset" aria-describedby="date-of-birth-hint" role="group">
                              <legend class="nhsuk-fieldset__legend nhsuk-label--m">
                                  <h2 class="nhsuk-fieldset__heading">
                                  Lot number
                                  </h2>
                              </legend>
                              <span class="nhsuk-hint" id="date-of-birth-hint">
                                If there are two lot numbers please enter both
                              </span>

                              <div class="nhsuk-date-input" id="lot-number">
                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="lot-number-1" name="lot-number-1" type="number" pattern="[0-9]*">
                                  </div>
                                </div>
                              
                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <p>-</p>
                                  </div>
                                </div>

                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="lot-number-2" name="lot-number-2" type="number" pattern="[0-9]*">
                                  </div>
                                </div>

                              </div>
                            </fieldset>
                          </div>
                        </td>


                        <td>
                          <div class="nhsuk-form-group">
                            <fieldset class="nhsuk-fieldset" aria-describedby="date-of-birth-hint" role="group">
                              <legend class="nhsuk-fieldset__legend nhsuk-label--m">
                                  <h2 class="nhsuk-fieldset__heading">
                                  Number of boxes distributed
                                  </h2>
                              </legend>
                              <span class="nhsuk-hint" id="number-of-kits">
                                Enter number of boxes
                              </span>

                              <div class="nhsuk-date-input" id="collection-code">
                                <div class="nhsuk-date-input__item">
                                  <div class="nhsuk-form-group">
                                    <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="number-of-kits" name="number-of-kits" type="number" pattern="[0-9]*">
                                  </div>
                                </div>
                              
                              </div>
                            </fieldset> 
                          </div>
                        </td>

                      </tr>
              
                        <tbody>
                        
                          <tr>
                            <td><p style="font-size:150%; font-weight:bold;" >Collections entered</p></td> 
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>

                          <thead class="nhsuk-table__head"
                                role="rowgroup">
                            <tr role="row">
                              <th>Anonymous?</th>
                              <th>Collect code</th>
                              <th>Lot number(s)</th>
                              <th>Number of kits</th>
                              <th></th>
                            </tr>
                        </thead>

                        <tbody class="nhsuk-table__body">
                          <tr class="nhsuk-table__row"
                              role="row">
                            <td class="nhsuk-table__cell">N</td> 
                            <td class="nhsuk-table__cell">1234-5678-5555-2765</td>
                            <td class="nhsuk-table__cell">007 - 008</td>
                            <td class="nhsuk-table__cell">4</td>
                            <td class="nhsuk-table__cell--align-right">
                              <a href="summary">Change details</a> or <a href="">Delete</a></td>

                          </tr>
                        </tbody>

                        <tbody class="nhsuk-table__body">
                          <tr class="nhsuk-table__row"
                              role="row">
                            <td class="nhsuk-table__cell">Y</td> 
                            <td class="nhsuk-table__cell">0000-0000-0000-0000</td>
                            <td class="nhsuk-table__cell">001</td>
                            <td class="nhsuk-table__cell">4</td>
                            <td class="nhsuk-table__cell--align-right">
                              <a href="summary">Change details</a> or <a href="">Delete</a></td>

                          </tr>
                        </tbody>

                        <tbody class="nhsuk-table__body">
                          <tr class="nhsuk-table__row"
                              role="row">
                            <td class="nhsuk-table__cell">N</td> 
                            <td class="nhsuk-table__cell">9876-1111-5432-0022</td>
                            <td class="nhsuk-table__cell">099 - 100</td>
                            <td class="nhsuk-table__cell">4</td>
                            <td class="nhsuk-table__cell--align-right">
                              <a href="summary">Change details</a> or <a href="">Delete</a></td>

                          </tr>
                        </tbody>
                    </tbody>
                  </table>


                <form action="addAnotherL2"
                      class="form"
                      method="get">
                  <div class="nhsuk-form-group">
                    <fieldset class="nhsuk-fieldset">
                      <h1 class="nhsuk-fieldset__heading"><legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">Do you want to add details of another collection?</legend></h1>
                      <div class="nhsuk-radios nhsuk-radios--inline">
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input"
                                id="add-1"
                                name="radioInlineGroup"
                                type="radio"
                                value="Yes"> <label class="nhsuk-label nhsuk-radios__label"
                                for="add-another-1">Yes</label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input"
                                id="add-2"
                                name="radioInlineGroup"
                                type="radio"
                                value="no"> <label class="nhsuk-label nhsuk-radios__label"
                                for="add-another-2">No</label>
                        </div>
                      </div>
                    </fieldset>
                    <br>
                    <br>
                      <button class="nhsuk-button"
                          type="submit">Continue</button>
                  </div>
                </form>
                      
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
</body>
</html>