<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Lateral Flow Test
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">


              <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
                <div class="nhsuk-width-container-fluid">
                  <ol class="nhsuk-breadcrumb__list">
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/index">Index</a></li>
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="lft-start-month">Month</a></li>
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="lft-start-day">Day</a></li>
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="patient-details">Patient details</a></li>
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="Summary">Summary</a></li>
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="declaration-lft">Declaration</a></li>
                  </ol>
                </div>
              </nav>



        <div class="nhsuk-width-container-fluid">

            <div class="nhsuk-main-wrapper" id="maincontent">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-two-thirds">
                      
                        <div class="nhsuk-card nhsuk-card--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">

                          <div class="nhsuk-card__content">

                            <h1 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
                              Done
                            </h1>

                            <p class="nhsuk-u-font-size-24">
                              <strong>Lateral flow test service complete.</strong>
                            </p>

                          </div>

                        </div>

                        <h2>What happens next</h2>
                        <p>You've completed your submission for 8 July 2021.</p>
                        <p>We will send an email to FAAAA@nhs.net confirming your submission. Make sure you keep this email for your records.</p>
                        <p>Payment will be made as part of the payment by the NHSBSA.</p>
                        <a href="../../../index" class="nhsuk-button">
                          Finish
                      </a>


                    </div>

                </div>
            </div>

        </div>
    </div>
    </div>

</div>
{% endblock %}
