<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'layout-full-width.html' %} <!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
   <!-- Set the page title inside the pageTitle block -->
   {% block pageTitle %} Lateral Flow Test {% endblock %} <!-- Breadcrumb goes inside the beforeContent block -->
   {% block beforeContent %} {% endblock %} <!-- Your page content goes inside the content block -->
   <!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
   {% block content %}
  <div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper"
               id="maincontent">
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">
                <div class="nhsuk-back-link">
                  <a class="nhsuk-back-link__link"
                       href="javascript:history.back()"><svg aria-hidden="true"
                       class="nhsuk-icon nhsuk-icon__chevron-left"
                       viewbox="0 0 24 24"
                       xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path></svg> Go back</a>
                </div>
                <header class="page-header">
                  <span class="heading-secondary">Lateral Flow Test</span>
                  <h1 class="nhsuk-heading-l govuk-heading-l">Patient details</h1>
                </header><!-- End of drop-down -->
                <form action="summary"
                      class="form"
                      method="get">
                  <div class="nhsuk-form-group">
                    <h1 class="nhsuk-label-wrapper"><label class="nhsuk-label nhsuk-label--m"
                           for="patient-full-name">Anonymous collection</label></h1>
                    <div class="test-case"
                         style="overflow: visible">
                      <div>
                        <select aria-required="true"
                             class="typeahead js-hidden nhsuk-select"
                             id="anonymous-collection"
                             name="anonymous-collection">
                          <option value="No">
                            No
                          </option>
                          <option value="Yes">
                            Yes
                          </option>
                        </select>
                      </div>
                    </div>
                  </div><!-- End of drop-down -->
                
                  <div class="nhsuk-form-group">
                    <fieldset aria-describedby="date-of-birth-hint"
                              class="nhsuk-fieldset"
                              role="group">
                      <h2 class="nhsuk-fieldset__heading"><legend class="nhsuk-fieldset__legend nhsuk-label--m">Collect code</legend></h2><span class="nhsuk-hint"
                                id="date-of-birth-hint">Enter the 16 digit code</span>
                      <div class="nhsuk-date-input"
                           id="collection-code">
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                                 id="collection-code-1"
                                 name="collection-code-1"
                                 pattern="[0-9]*"
                                 type="number">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                                 id="collection-code-2"
                                 name="collection-code-2"
                                 pattern="[0-9]*"
                                 type="number">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                                 id="collection-code-3"
                                 name="collection-code-3"
                                 pattern="[0-9]*"
                                 type="number">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                                 id="collection-code-4"
                                 name="collection-code-4"
                                 pattern="[0-9]*"
                                 type="number">
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <div class="nhsuk-form-group">
                    <fieldset aria-describedby="date-of-birth-hint"
                              class="nhsuk-fieldset"
                              role="group">
                      <h2 class="nhsuk-fieldset__heading"><legend class="nhsuk-fieldset__legend nhsuk-label--m">Lot number(s)</legend></h2><span class="nhsuk-hint"
                                id="date-of-birth-hint">If there are two lot numbers please enter both</span>
                      <div class="nhsuk-date-input"
                           id="lot-number">
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                                 id="lot-number-1"
                                 name="lot-number-1"
                                 pattern="[0-9]*"
                                 type="number">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                                 id="lot-number-2"
                                 name="lot-number-2"
                                 pattern="[0-9]*"
                                 type="number">
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <div class="nhsuk-form-group">
                    <fieldset aria-describedby="date-of-collection-hint"
                              class="nhsuk-fieldset"
                              role="group">
                      <h2 class="nhsuk-fieldset__heading"><legend class="nhsuk-fieldset__legend nhsuk-label--m">Date of collection</legend></h2><span class="nhsuk-hint"
                                id="date-of-collection-hint">For example, 15 3 1984</span>
                      <div class="nhsuk-date-input"
                           id="date-of-collection">
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label"
                                 for="date-of-collection-day">Day</label> <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                                 id="date-of-collection-day"
                                 name="date-of-collection-day"
                                 pattern="[0-9]*"
                                 type="number">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label"
                                 for="date-of-collection-month">Month</label> <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                                 id="date-of-collection-month"
                                 name="date-of-collection-month"
                                 pattern="[0-9]*"
                                 type="number">
                          </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label nhsuk-date-input__label"
                                 for="date-of-collection-year">Year</label> <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                                 id="date-of-collection-year"
                                 name="date-of-collection-year"
                                 pattern="[0-9]*"
                                 type="number">
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <div class="nhsuk-form-group">
                    <h1 class="nhsuk-label-wrapper"><label class="nhsuk-label nhsuk-label--m"
                           for="patient-post-code">Number of kits</label></h1><input class="nhsuk-input nhsuk-input--width-3"
                         id="number-of-kits"
                         name="number-of-kits"
                         type="text">
                  </div><br>
                  <button class="nhsuk-button"
                        type="submit">Continue</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>{% endblock %}
</body>
</html>
