<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->



<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!--
In /views/layout.html you can:
- change the header and footer
- add custom CSS and JavaScript
-->



<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Lateral Flow Test
{% endblock %}



<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}



<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">



<div class="nhsBSA-sidebar-wrapper">
<div class="nhsBSA-sidebar-content">



<div class="nhsuk-width-container-fluid">



<div class="nhsuk-main-wrapper" id="maincontent">
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<div class="nhsuk-back-link">
<a class="nhsuk-back-link__link" href="javascript:history.back()">
<svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
<path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
</svg>
Go back</a>
</div>
<header class="page-header">
<span class="heading-secondary">Lateral Flow Test</span>
<h1 class="nhsuk-heading-l">Confirm and submit</h1>
</header>



<p>You've finished entering information for this submission.</p>



<p>This is the information you've told us:</p>



<dl class="nhsuk-summary-list">



<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
Number of collections 99
</dt>
<dd class="nhsuk-summary-list__value">
99 collections
</dd>
</div>

<br><br>
<h2 class="nhsuk-heading-l">Declaration</h2>




</dl>



<div class="nhsuk-inset-text">
<span class="nhsuk-u-visually-hidden">Information: </span>
<p>By submitting this electronic form, and by selecting that I agree and accept the declaration, I declare that:</p>




</div>



<ul class="nhsuk-list nhsuk-list--bullet">
<li>I am claiming payment for the provision of activity under the Lateral Flow Test and that the information I have provided is correct and the service <br>has been provided in line with the guidance and regulations</li>
<li>I may be contacted about this submission, for example to confirm the activity took place</li>
<li>I understand that NHSBSA may share information I provide in relation to this claim with agencies and teams for the purposes of the prevention, detection, loss <br>measurement, investigation and prosecution of fraud or any other unlawful activity affecting the NHS. This could include NHSBSA Loss and Fraud <br>Prevention Team (LFP), Department of Health and Social Care (DHSC) Anti-Fraud Unit, NHS England & Improvement (NHSE&I), NHS Counter Fraud Authority <br>(NHSCFA)</li>
<li>I am aware that my claim will be processed by the NHSBSA and the relevant controller is NHS England, and that I can find out more about my rights on <a href="https://www.england.nhs.uk/contact-us/privacy-notice/">NHS England's privacy notice</a> or by contacting 0300 311 22 33</li>
<li>where I have provided personal data on behalf of another person, they agree to me doing so, and I will draw this notice to their attention</li>
</ul>
<br>
<div class="nhsuk-checkboxes">

<div class="nhsuk-checkboxes__item">
<input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
<label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
I agree and accept this declaration
</label>
</div>
</div>
<br><br>
<a href="done" class="nhsuk-button">
Submit
</a>
<br>
</div>




</div>



</div>



</div>
</div>
</div>



</div>
{% endblock %}