<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Lateral Flow Test
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container-fluid">
          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/index">Lateral Flow Test</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two"></a></li>
          </ol>
          <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/level-one/level-two/level-three">Back to Level three</a></p>
        </div>
      </nav>
      <div class="nhsuk-width-container-fluid">

        <div class="nhsuk-main-wrapper" id="maincontent">

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
              <header>
                <h2 class="nhsuk-heading-l">
                  Lateral Flow Test
                </h2>
              </header>
                <div class="nhsuk-hint">
                  You have not submitted data for any of these days yet.
                </div>              

              <h3 class="nhsuk-heading-m">
                July 2021 current submissions
              </h3>
            
              <table class="nhsuk-table">
                <thead role="rowgroup" class="nhsuk-table__head">
                  <tr role="row">
                    <th role="columnheader" class="" scope="col">
                      Month
                    </th>
                    <th>
                    </th>
                    <th></th>
                  </tr>
                </thead>

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">31 July 2021</td>
                    <td></td>
                    <td class="nhsuk-table__cell--align-right"><a href="table-grid">Start</a></td>
                  </tr>
                </tbody>

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">30 July 2021</td>
                    <td></td>
                    <td class="nhsuk-table__cell--align-right"><a href="table-grid">Start</a></td>
                  </tr>
                </tbody>   

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">29 July 2021</td>
                    <td></td>
                    <td class="nhsuk-table__cell--align-right"><a href="table-grid">Start</a></td>
                  </tr>
                </tbody>

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">28 July 2021</td>
                    <td></td>
                    <td class="nhsuk-table__cell--align-right"><a href="table-grid">Start</a></td>
                  </tr>
                </tbody>   

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">27 July 2021</td>
                    <td></td>
                    <td class="nhsuk-table__cell--align-right"><a href="table-grid">Start</a></td>
                  </tr>
                </tbody>

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">26 July 2021</td>
                    <td></td>
                    <td class="nhsuk-table__cell--align-right"><a href="table-grid">Start</a></td>
                  </tr>
                </tbody>   

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">25 July 2021</td>
                    <td></td>
                    <td class="nhsuk-table__cell--align-right"><a href="table-grid">Start</a></td>
                  </tr>
                </tbody>

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">24 July 2021</td>
                    <td></td>
                    <td class="nhsuk-table__cell--align-right"><a href="table-grid">Start</a></td>
                  </tr>
                </tbody>   


                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">23 July 2021</td>
                    <td></td>
                    <td class="nhsuk-table__cell--align-right"><a href="table-grid">Start</a></td>
                  </tr>
                </tbody>

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">22 July 2021</td>
                    <td></td>
                    <td class="nhsuk-table__cell--align-right"><a href="table-grid">Start</a></td>
                  </tr>
                </tbody>   

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">21 July 2021</td>
                    <td></td>
                    <td class="nhsuk-table__cell--align-right"><a href="table-grid">Start</a></td>
                  </tr>
                </tbody>

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">20 July 2021</td>
                    <td></td>
                    <td class="nhsuk-table__cell--align-right"><a href="table-grid">Start</a></td>
                  </tr>
                </tbody>   

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">19 July 2021</td>
                    <td></td>
                    <td class="nhsuk-table__cell--align-right"><a href="table-grid">Start</a></td>
                  </tr>
                </tbody>

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">18 July 2021</td>
                    <td></td>
                    <td class="nhsuk-table__cell--align-right"><a href="table-grid">Start</a></td>
                  </tr>
                </tbody>   

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">17 July 2021</td>
                    <td></td>
                    <td class="nhsuk-table__cell--align-right"><a href="table-grid">Start</a></td>
                  </tr>
                </tbody>

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">16 July 2021</td>
                    <td></td>
                    <td class="nhsuk-table__cell--align-right"><a href="table-grid">Start</a></td>
                  </tr>
                </tbody>   


                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">15 July 2021</td>
                    <td></td>
                    <td class="nhsuk-table__cell--align-right"><a href="table-grid">Start</a></td>
                  </tr>
                </tbody>

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">14 July 2021</td>
                    <td></td>
                    <td class="nhsuk-table__cell--align-right"><a href="table-grid">Start</a></td>
                  </tr>
                </tbody>   

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">13 July 2021</td>
                    <td></td>
                    <td class="nhsuk-table__cell--align-right"><a href="table-grid">Start</a></td>
                  </tr>
                </tbody>

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">12 July 2021</td>
                    <td></td>
                    <td class="nhsuk-table__cell--align-right"><a href="table-grid">Start</a></td>
                  </tr>
                </tbody>   

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">11 July 2021</td>
                    <td></td>
                    <td class="nhsuk-table__cell--align-right"><a href="table-grid">Start</a></td>
                  </tr>
                </tbody>

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">10 July 2021</td>
                    <td></td>
                    <td class="nhsuk-table__cell--align-right"><a href="table-grid">Start</a></td>
                  </tr>
                </tbody>  

              </table>    



              <h3 class="nhsuk-heading-m">
                Uncompleted days
              </h3>
                <div class="nhsuk-hint">
                  You can add more data for these days, or submit without adding anything.
                </div>              
         
              <table class="nhsuk-table">
                <thead role="rowgroup" class="nhsuk-table__head">
                  <tr role="row">
                    <th role="columnheader" class="" scope="col">
                      Date
                    </th>
                    <th role="columnheader" class="" scope="col">
                      Test kit collection
                    </th>
                    <th></th>
                  </tr>
                </thead>

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">9 July 2021</td>
                    <td class="nhsuk-table__cell ">11</td>
                    <td class="nhsuk-table__cell--align-right"><a href="table-grid">Continue</a></td>
                  </tr>
                </tbody>

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">8 July 2021</td>
                    <td class="nhsuk-table__cell ">29</td>
                    <td class="nhsuk-table__cell--align-right"><a href="table-grid">Continue</a></td>
                  </tr>
                </tbody>

              </table>

              <h3 class="nhsuk-heading-m">
                Completed days
              </h3>
               <div class="nhsuk-hint">
                  You can see the completed days here.
                </div>      

              <table class="nhsuk-table">
                <thead role="rowgroup" class="nhsuk-table__head">
                  <tr role="row">
                    <th role="columnheader" class="" scope="col">
                      Date
                    </th>
                    <th role="columnheader" class="" scope="col">
                      Test kit collection
                    </th>
                    <th></th>
                  </tr>
                </thead>

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">7 July 2021</td>
                    <td class="nhsuk-table__cell ">23</td>
                    <td class="nhsuk-table__cell--align-right"><a href="#">View</a></td>
                  </tr>
                </tbody>

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">6 July 2021</td>
                    <td class="nhsuk-table__cell ">37</td>
                    <td class="nhsuk-table__cell--align-right"><a href="#">View</a></td>
                  </tr>
                </tbody>

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">5 July 2021</td>
                    <td class="nhsuk-table__cell ">8</td>
                    <td class="nhsuk-table__cell--align-right"><a href="#">View</a></td>
                  </tr>
                </tbody>

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">4 July 2021</td>
                    <td class="nhsuk-table__cell ">1</td>
                    <td class="nhsuk-table__cell--align-right"><a href="#">View</a></td>
                  </tr>
                </tbody>

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">3 July 2021</td>
                    <td class="nhsuk-table__cell ">22</td>
                    <td class="nhsuk-table__cell--align-right"><a href="#">View</a></td>
                  </tr>
                </tbody>

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">2 July 2021</td>
                    <td class="nhsuk-table__cell ">9</td>
                    <td class="nhsuk-table__cell--align-right"><a href="#">View</a></td>
                  </tr>
                </tbody>

                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">1 July 2021</td>
                    <td class="nhsuk-table__cell ">12</td>
                    <td class="nhsuk-table__cell--align-right"><a href="#">View</a></td>
                  </tr>
                </tbody>

              </table>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
{% endblock %}
