<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  HRT
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1>
        Sell a Hormone Replacement Therapy Prescription Prepayment Certificate (HRP PPC)
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

                  <div class="nhsuk-warning-callout">
                    <h3 class="nhsuk-warning-callout__label">
                      <span role="text">
                        <span class="nhsuk-u-visually-hidden">Important: </span>
                        Important information:
                      </span>
                    </h3>
                    <p>This PPC only covers Hormone Replacement Therapy drugs. If you require prescription drugs outside of HRT then a <a href="#">standard PPC</a> may be more beneficial for you.</p>
                  </div>

        <p>You can help your customer save money on NHS HRT prescriptions by prepaying for them.</p>
        <p>They can pay a set price for prescriptions for 12 months, no matter how many they need.</p>
        <p>A prescription costs £9.35 per item, but prepaying for an unlimited number of HRT prescriptions is:</p>
        <ul>
          <li>One time payment of £18.70 for 12 months (the cost of two prescriptions)</li>
        </ul>  
        <p>After payment, we can send the certificate details to your customer by email or post. You can also give them the details to use yourself.</p>
        <p>Your customer needs to show their certificate details when they collect their HRT prescription. They can use it once they have finished their application straight away once they have if they start it from today.</p>
        
        <p>For more information visit <a href="https://www.nhsbsa.nhs.uk/help-nhs-prescription-costs/prescription-prepayment-certificates-ppcs/pharmacy-sales-nhs-prescription-prepayment-certificate-ppc">Pharmacy sales - NHS Hormone Replacement Therapy Prescription Prepayment Certificate (PPC)</a></p>
<br>
        <div class="nhsuk-action-link">
          <a class="nhsuk-action-link__link" href="hrtppc-customer-name">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
            </svg>
            <span class="nhsuk-action-link__text">Start now</span>
          </a>
        </div>

<!-- End of content -->

    </div>
  </div>
{% endblock %}
