<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  HEE
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container-fluid">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <ol class="nhsuk-breadcrumb__list">

          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link"
              href="#">Dashboard</a></li>
          <li class="nhsuk-breadcrumb__item">Summary</li>
        </ol>
      </div>
    </div>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="search-results">Back to search
        results</a></p>
  </div>
</nav>

<div class="nhsBSA-sidebar-container">
  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container-fluid">

            <div class="nhsuk-main-wrapper" id="maincontent">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-two-thirds">

                      <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-two-thirds">
                          <h1 class="nhsuk-heading-xl" style="margin-bottom: 0;">Manage submissions</h1>
                        </div>
                        <div class="nhsuk-grid-column-one-third"></div>
                      </div>

                      <h3 style="margin-top: 0; font-weight: normal;">FYYYYY <BR> LLOYDS PHARMACY LTD <BR> 20 PRINCESS STREET, NEWLANDS, LEEDS, WEST <BR> YORKSHIRE, LS1, 7LX</h3>
            
                      <nav
                        class="nhsuk-secondary-navigation"
                        aria-label="Primary navigation"
                        style="background-color: #f0f4f5"
                      >
                        <ul class="nhsuk-secondary-navigation__list">
                          <li class="nhsuk-secondary-navigation__item">
                            <a
                              class="nhsuk-secondary-navigation__link"
                              aria-current="page"
                              href="#"
                              >Summary</a
                            >
                          </li>

                          <li class="nhsuk-secondary-navigation__item">
                            <a
                              class="nhsuk-secondary-navigation__link"
                              aria-current="page"
                              href="#"
                              >Unpaid items (30)</a
                            >
                          </li>

                          <li class="nhsuk-secondary-navigation__item">
                            <a
                              class="nhsuk-secondary-navigation__link"
                              aria-current="page"
                              href="#"
                              >Disallowed items (0)</a
                            >
                          </li>

                          <li class="nhsuk-secondary-navigation__item">
                              [All other services]
                          </li>


                          <li class="nhsuk-secondary-navigation__item">
                            <a
                              class="nhsuk-secondary-navigation__link"
                              aria-current="page"
                              href="hee-landing-page"
                              >Pre-registration Trainee Pharmacy Technician (PTPT) and Foundation Pharmacist Training Programme</a
                            >
                          </li>
                        </ul>
                      </nav>
                      
                          
                          <!-- <header class="page-header">
                              <span class="heading-secondary">2022 - 2023 Foundation Training for Trainee Pharmacists: Allocation of Funding</span>
                          </header>
<br>
                          <h3>Newcastle Central Pharmacy<br>ODS Code: FAAAA<br>Address: 1 High Street, Newcastle, NE1 1XX</h3>
<br>
                          <h3>Payment details for Douglas Caven, ID AB6789</h3>

                          <p>Select the months you want to claim for.

                      <table class="nhsuk-table">
                        <thead class="nhsuk-table__head">
                          <tr class="nhsuk-table__row">
                            <th class="nhsuk-table__header" scope="col"> Month </th>
                            <th class="nhsuk-table__header" scope="col"> Status </th>
                          </tr>
                        </thead>
                        
                        <tbody class="nhsuk-table__body">
                          <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">
                              October 2021
                            </td>
                            <td class="nhsuk-table__cell">
                              <strong class="nhsuk-tag nhsuk-tag--green">Claimed</strong>
                            </td>
                          </tr>
                          <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">
                              November 2021
                            </td>
                            <td class="nhsuk-table__cell">
                              <strong class="nhsuk-tag nhsuk-tag--green">Claimed</strong>
                            </td>
                          </tr>
                          <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">
                              December 2021
                            </td>
                            <td class="nhsuk-table__cell">
                              <strong class="nhsuk-tag nhsuk-tag--green">Claimed</strong>
                            </td>
                          </tr>
                          <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">
                              January 2022
                            </td>
                            <td class="nhsuk-table__cell">
                              <strong class="nhsuk-tag nhsuk-tag--green">Claimed</strong>
                            </td>
                          </tr>
                          <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">
                              February 2022
                            </td>
                            <td class="nhsuk-table__cell">
                              <strong class="nhsuk-tag nhsuk-tag--green">Claimed</strong>
                            </td>
                          </tr>
                          <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">
                              March 2022
                            </td>
                            <td class="nhsuk-table__cell">
                              <strong class="nhsuk-tag nhsuk-tag--red">You can claim</strong>
                            </td>
                          </tr>                   
                          <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">
                              April 2022
                            </td>
                            <td class="nhsuk-table__cell">
                              <strong class="nhsuk-tag nhsuk-tag--red">You can claim</strong>
                            </td>
                          </tr>
                          <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">
                              May 2022
                            </td>
                            <td class="nhsuk-table__cell">
                              <strong class="nhsuk-tag nhsuk-tag--red">You can claim</strong>
                            </td>
                          </tr>
                          <tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">
                              June 2022
                            </td>
                            <td class="nhsuk-table__cell">
                              <strong class="nhsuk-tag nhsuk-tag--red">You can claim</strong>
                            </td>
                          </tr><tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">
                              July 2022
                            </td>
                            <td class="nhsuk-table__cell">
                              <strong class="nhsuk-tag nhsuk-tag--red">You can claim</strong>
                            </td>
                          </tr><tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">
                              August 2022
                            </td>
                            <td class="nhsuk-table__cell">
                              <strong class="nhsuk-tag nhsuk-tag--blue">Outside period</strong>
                            </td>
                          </tr><tr class="nhsuk-table__row">
                            <td class="nhsuk-table__cell">
                              September 2022
                            </td>
                            <td class="nhsuk-table__cell">
                              <strong class="nhsuk-tag nhsuk-tag--blue">Outside period</strong>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                        <a href="hrt-done" class="nhsuk-button">
                            Continue
                        </a> -->

                    </div>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
