<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  HEE
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1>
        Manage your service
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">HEE</span>
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <hr>

            <ul class="nhsuk-grid-row nhsuk-card-group">
              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="mys-hee-v1/hee-navpage">MYS CI V1</a></h2>
                    <p class="nhsuk-card__description">This is for a one-off annual payment.</p>
                  </div>
                </div>
              </li>

              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="mys-hee-v2/hee-navpage">MYS CI V2</a></h2>
                    <p class="nhsuk-card__description">The driving page is trainees.</p>
                  </div>
                </div>
              </li>

              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="#">MYS CI V3</a></h2>
                    <p class="nhsuk-card__description">The driving page is months.</p>
                  </div>
                </div>
            <ul> 



      <!-- End of content -->

    </div>
  </div>
{% endblock %}
