<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  HEE
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1>
        Manage your service
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">HEE</span>
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <hr>

            <ul class="nhsuk-grid-row nhsuk-card-group">
              
              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="mys-hee-v4/hee-navpage">MYS CI V4</a></h2>
                    <p class="nhsuk-card__description">Process flow as described in the PowerPoint slides.</p>
                  </div>
                </div>
              </li> 

              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="mys-hee-v5/hee-navpage">MYS CI V5</a></h2>
                    <p class="nhsuk-card__description">Driving page is TRAINEES. A trainee is selected and for each month claimable the month is displayed alongside a check-box. User checks each month they want to claim for. 
                      Claim option of 'commencement payment of £1000' included in first month for PTPT. Users can claim for multiple months in one go.</p>
                  </div>
                </div>
              </li> 

              <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="mys-hee-v7/hee-navpage">MYS CI V7</a></h2>
                    <p class="nhsuk-card__description">Driving page is MONTHS. A month is selected and the trainees that are eligible for a claim for that month will be displayed. 
                      The user can then claim for all the trainees for that month before claiming for more months.
                      Create Trainee button is on the list of trainees for that pharmacist.</p>
                  </div>
                </div>
              </li> 
            <ul> 

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
