<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'layout-full-width.html' %} <!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
  <!-- Set the page title inside the pageTitle block -->
  {% block pageTitle %} MYS Dispensing Doctors {% endblock %} <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %} {% endblock %} <!-- Your page content goes inside the content block -->
  <!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
  {% block content %}
  <div class="nhsBSA-sidebar-container">
    <div class="nhsBSA-sidebar-wrapper">
      <div class="nhsBSA-sidebar-content">
              
        <div class="nhsuk-width-container-fluid">
          <div class="nhsuk-main-wrapper"
                id="maincontent">
            <div class="nhsuk-grid-row">
            
                <header class="page-header">
                  <span class="heading-secondary">July 2021 submission</span>
                  <h1 class="nhsuk-heading-l govuk-heading-l">Vaccine details</h1>
                </header>
                  
                <h3>Vaccine entries administered by (whoever)</h3>
                        
                <span class="nhsuk-hint">
                    Enter the details of vaccines administered by (whoever) for this month, then select 'Add vaccine' to add it to your submission.
                </span>
                <span class="nhsuk-hint">
                    Once entered, each vaccine will appear under ‘Vaccines administered’.
                </span>
                <span class="nhsuk-hint">
                    You will be able to add details of more vaccines for (whoever) after each entry.
                </span>


                  <table class="table-form">
                    <thead>
                      <tr>
                        <th scope="col">Vaccine type</th>
                        <th scope="col">Vaccine</th>
                        <th scope="col">Total doses</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>

                        <td  class="test-case" style="overflow: visible">
                          <div>
                              <select id="vaccines" class="typeahead js-hidden nhsuk-select" name="vaccines" aria-required="true">
                                  <option value="x">Choose vaccine type</option>
                                  <option value="x">Influenza</option>
                                  <option value="x">Typhoid</option>
                                  <option value="x">Hepatitis A</option>
                                  <option value="x">Hepatitis B</option>
                                  <option value="x">Pneumococcal</option>
                                  <option value="x">Memingococccal</option>
                              </select>
                          </div>
                        </td>

                        <td  class="test-case" style="overflow: visible">
                          <div class="test-case" style="overflow: visible">
                              <div>
                                  <select id="influenza-vaccine" class="typeahead js-hidden nhsuk-select" name="influenza-vaccine" aria-required="true">
                                      <option value="FA123 - Boots, Eldon Square, Newcastle, NE1 7XE">Choose vaccine</option>
                                      <option value="FA123 - Boots, Eldon Square, Newcastle, NE1 7XE">Adjuvanted trivalent influenza vaccine (surface antigen,Inact) Susp for Inj 0.5ml PF Syringes
                                                                                        (Seqirus Vaccines Ltd)</option>
                                      <option value="FA124 - Boots, Northumberland Street, Newcastle, NE1 7DQ">Fluad vaccine suspension for injection 0.5ml PF syringes (Trivalent)(Disc 08/20)
                                                                                        (Seqirus Vaccines Ltd)</option>
                                      <option value="FA125 - Boots, Newcastle Central Station, Newcastle, NE1 5DL">Fluad Tetra vaccine suspension for injection 0.5ml pre-filled syringes (Quadrivalent)
                                                                                        (Seqirus Vaccines Ltd)</option>
                                      <option value="FA126 - Boots, Osborne Road, Newcastle, NE2 2AD">Fluarix Tetra/Fluarix vaccine susp for Inj 0.5ml PF Syringes (Quadrivalent)
                                                                                        (GlaxoSmithKline)</option>
                                      <option value="FA127 - Boots, Gateshead Trinity Square, Gateshead, NE8 1BF">Flucelvax Tetra vaccine susp for Inj 0.5ml PF Syringes (Quadrivalent)
                                                                                        (Seqirus Vaccines Ltd)</option>
                                      <option value="FA128 - Boots, Byker, Newcastle, NE6 1DN">Fluenz Tetra/Fluenz vaccine nasal suspension 0.2ml unit dose (Quadrivalent)
                                                                                        (AstraZeneca UK Ltd)</option>
                                      <option value="FA129 - Boots, Dunston, Gateshead, NE11 9FJ">Imuvac vaccine susp for Inj 0.5ml PF Syringes (Trivalent)(Mylan)</option>
                                      <option value="FA129 - Boots, Dunston, Gateshead, NE11 9FJ">Typhoid polysaccharide 25micrograms/0.5ml vaccine soln for inj PF syringes</option>
                                    </select>
                              </div>
                          </div>
                        </td>
                        
                        <td class="numeric last"><input class="form-control"
                                id="land-area-1"
                                name="total"
                                size="5"
                                type="numeric"
                                value="">
                        </td>
                        
                        <td>
                          <form action="all-vaccine-table-dropdown-1-10-pagination" method="post" novalidate>
                                <button class="nhsuk-button" type="submit">
                                      Add vaccine
                                </button>
                          </form>
                         </td> 
                      </tr>
                    </tbody>
 
                  </table>


                  <h3>Vaccines administered by (Whoever)</h3>

                  <table class="table-form">

                    <thead role="rowgroup" class="nhsuk-table__head">
                      <tr role="row">
                        <th role="columnheader" class="" scope="col">
                          Vaccine type
                        </th>
                        <th role="columnheader" class="" scope="col">
                          Vaccine
                        </th>
                        <th role="columnheader" class="" scope="col">
                          Total doses
                        </th>
                        <th role="columnheader" class="" scope="col">
                        </th>
                      </tr>
                    </thead>

                    <tbody class="nhsuk-table__body">
                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell ">Influenza</td>
                        <td class="nhsuk-table__cell ">Adjuvanted trivalent influenza vaccine (surface antigen,Inact) Susp for Inj 0.5ml PF Syringes
                                                                                        (Seqirus Vaccines Ltd)</td>
                        <td class="nhsuk-table__cell--align-right ">7</td>
                        <td class="nhsuk-table__cell--align-right">
                        <a href="all-vaccine-table-dropdown-one-rec-amend">Amend</a> or <a href="delete">Delete</a></td>
                        
                      </tr>
                      
                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell ">Influenza</td>
                        <td class="nhsuk-table__cell ">Fluad vaccine suspension for injection 0.5ml PF syringes (Trivalent)(Disc 08/20)
                                                                                        (Seqirus Vaccines Ltd)</td>
                        <td class="nhsuk-table__cell--align-right ">9</td>
                        <td class="nhsuk-table__cell--align-right">
                        <a href="all-vaccine-table-dropdown-one-rec-amend">Amend</a> or <a href="delete">Delete</a></td>
                        
                      </tr>
                      
                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell ">Typhoid</td>
                        <td class="nhsuk-table__cell ">Typhoid polysaccharide 25micrograms/0.5ml vaccine soln for inj PF syringes</td>
                        <td class="nhsuk-table__cell--align-right ">2</td>
                        <td class="nhsuk-table__cell--align-right">
                        <a href="all-vaccine-table-dropdown-one-rec-amend">Amend</a> or <a href="delete">Delete</a></td>

                    <tbody class="nhsuk-table__body">
                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell ">Influenza</td>
                        <td class="nhsuk-table__cell ">Fluarix Tetra/Fluarix vaccine susp for Inj 0.5ml PF Syringes (Quadrivalent)
                                                                                        (GlaxoSmithKline)</td>
                        <td class="nhsuk-table__cell--align-right ">4</td>
                         <td class="nhsuk-table__cell--align-right">
                        <a href="all-vaccine-table-dropdown-one-rec-amend">Amend</a> or <a href="delete">Delete</a></td>
                        
                      </tr>
                    </tbody>

                    <tbody class="nhsuk-table__body">
                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell ">Influenza</td>
                        <td class="nhsuk-table__cell ">Fluenz Tetra/Fluenz vaccine nasal suspension 0.2ml unit dose (Quadrivalent)
                                                                                        (AstraZeneca UK Ltd)</td>
                        <td class="nhsuk-table__cell--align-right ">11</td>
                        <td class="nhsuk-table__cell--align-right">
                        <a href="all-vaccine-table-dropdown-one-rec-amend">Amend</a> or <a href="delete">Delete</a></td>
                        
                      </tr>
                    </tbody>

                    <tbody class="nhsuk-table__body">
                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell ">Typhoid</td>
                        <td class="nhsuk-table__cell ">Typhoid vaccine (live, oral, strain ty21a) gastro-resistant capsules</td>
                        <td class="nhsuk-table__cell--align-right ">2</td>
                        <td class="nhsuk-table__cell--align-right">
                        <a href="all-vaccine-table-dropdown-one-rec-amend">Amend</a> or <a href="delete">Delete</a></td>
                        
                    </tbody>

                    <tbody class="nhsuk-table__body">
                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell ">Typhoid</td>
                        <td class="nhsuk-table__cell ">Typhim Vi 25mcg/0.5ml Vaccine Soln for Inj PF Syringes</td>
                        <td class="nhsuk-table__cell--align-right ">5</td>
                        <td class="nhsuk-table__cell--align-right">
                        <a href="all-vaccine-table-dropdown-one-rec-amend">Amend</a> or <a href="delete">Delete</a></td>
                        
                      </tr>
                    </tbody>

                    <tbody class="nhsuk-table__body">
                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell ">Hepatitis A</td>
                        <td class="nhsuk-table__cell ">Vaqta Adult/Vaqta Vaccine Susp for Inj 1ml PF Syringe</td>
                        <td class="nhsuk-table__cell--align-right ">8</td>
                        <td class="nhsuk-table__cell--align-right">
                        <a href="all-vaccine-table-dropdown-one-rec-amend">Amend</a> or <a href="delete">Delete</a></td>
                        
                      </tr>
                    </tbody>

                    <tbody class="nhsuk-table__body">
                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell ">Pneumococcal</td>
                        <td class="nhsuk-table__cell ">Pneumococcal polysaccharide vaccine soln for Inj 0.5ml pre-filled syringes </td>
                        <td class="nhsuk-table__cell--align-right ">6</td>
                        <td class="nhsuk-table__cell--align-right">
                        <a href="all-vaccine-table-dropdown-one-rec-amend">Amend</a> or <a href="delete">Delete</a></td>
                        
                      </tr>
                    </tbody>

                    <tbody class="nhsuk-table__body">
                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell ">Hepatitis B</td>
                        <td class="nhsuk-table__cell ">Engerix B 10mcg/0.5ml Vaccine Susp for Inj PF Syringe/Vials </td>
                        <td class="nhsuk-table__cell--align-right ">6</td>
                        <td class="nhsuk-table__cell--align-right">
                        <a href="all-vaccine-table-dropdown-one-rec-amend">Amend</a> or <a href="delete">Delete</a></td>
                        <td></td>
                      </tr>
                    </tbody>
                                
                  </table>



                    <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
                      <ul class="nhsuk-list nhsuk-pagination__list">
                        
                        <li class="nhsuk-pagination-item--next">
                          <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="all-vaccine-table-dropdown-11-20">
                            <span class="nhsuk-pagination__title">Next</span>
                            <span class="nhsuk-u-visually-hidden">:</span>
                            <span class="nhsuk-pagination__page">11 to 20 (of 23)</span>
                            <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                              <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                            </svg>
                          </a>
                        </li>
                      </ul>
                    </nav>


                  <div class="nhsuk-form-group">
                  <form action="addEnterVaccine0"
                      class="form"
                      method="get">
                    <fieldset class="nhsuk-fieldset">
                      <h1 class="nhsuk-fieldset__heading"><legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">Have you completed entering all the vaccines for (whoever)?</legend></h1>
                      <div class="nhsuk-radios nhsuk-radios--inline">
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input"
                              id="add-1"
                              name="radioInlineGroup"
                              type="radio"
                              value="Yes"> <label class="nhsuk-label nhsuk-radios__label"
                              for="add-another-1">Yes</label>
                        </div>
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input"
                              id="add-2"
                              name="radioInlineGroup"
                              type="radio"
                              value="no"> <label class="nhsuk-label nhsuk-radios__label"
                              for="add-another-2">No (this will save your information to complete later)</label>
                        </div>
                      </div>
                    </fieldset>
                    <br>
                    <br>
                    
                  </div>
   
                      <button class="nhsuk-button"
                        type="submit">Continue</button>
      
                </form>
              </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
</body>
</html>