<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  MYS Optometry
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

    <div class="nhsBSA-sidebar-wrapper">
        <div class="nhsBSA-sidebar-content">
          <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
            <div class="nhsuk-width-container-fluid">
              <ol class="nhsuk-breadcrumb__list">
                  <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/index">Dispensing Doctors</a></li>
                  <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">FP34D Submission</a></li>
              </ol>
              <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/level-one/level-two/level-three">Back to Level three</a></p>
            </div>
          </nav>
        <div class="nhsuk-width-container-fluid">

            <div class="nhsuk-main-wrapper" id="maincontent">
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-two-thirds">
                        <header class="page-header">
                          <span class="heading-secondary">FP34D</span>
                          <h1 class="nhsuk-heading-l govuk-heading-l">July 2021 submission</h1>
                        </header>

                        <table class="nhsuk-table">
                          <thead role="rowgroup" class="nhsuk-table__head">
                            <tr role="row">
                              <th role="columnheader" class="" scope="col">
                                Doctor/Practice
                              </th>
                              <th role="columnheader" class="" scope="col">
                                Number of vaccines
                              </th>
                              <th class="nhsuk-table__cell--align-right"></th>
                            </tr>
                          </thead>
                          <tbody class="nhsuk-table__body">
                            <tr role="row" class="nhsuk-table__row">
                              <td class="nhsuk-table__cell">Dr No</td>
                              <td class="nhsuk-table__cell ">126</td>
                              <td class="nhsuk-table__cell--align-right"><a href="table-summary">View</a></td>
                            </tr>
                          </tbody>
                          <tbody class="nhsuk-table__body">
                            <tr role="row" class="nhsuk-table__row">
                              <td class="nhsuk-table__cell">Dr Strangeleove</td>
                              <td class="nhsuk-table__cell ">96</td>
                              <td class="nhsuk-table__cell--align-right"><a href="table-summary">View</a></td>
                            </tr>
                          </tbody>
                        </table>
                        <p>CONTENT REQUIRED</p>

                        <div class="nhsuk-grid-column-one-third">
                          <h2 class="heading-small" style="margin-top:20px;">Declaration</h2>
                        </div>
                        <div class="nhsuk-grid-column-two-thirds">
                          <div class="declaration">
                            <p>CONTENT REQUIRED</p>
                          </div>
                        <fieldset>
                          <legend class="visually-hidden">New Submission</legend>
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label" for="input-width-10">
                              First name
                            </label>
                            <input class="nhsuk-input nhsuk-input--width-10" id="first-name" name="first-name" type="text">
                          </div>

                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label" for="input-width-10">
                              Last name
                            </label>
                            <input class="nhsuk-input nhsuk-input--width-10" id="last-name" name="last-name" type="text">
                          </div>
                          <div class="nhsuk-form-group">
                            <label class="nhsuk-label" for="email-with-hint-text">
                              Email address (optional)
                            </label>
                            <div class="nhsuk-hint" id="email-with-hint-text-hint">
                              <span id="emailHint" class="panel panel-border-narrow">
                                A confirmation email will be sent to <span class="strong">joe.bloggs@nhs.net</span>.
                                If you would like a copy sent to another email address, please enter it below.
                                </span>
                            </div>
                            <input class="nhsuk-input nhsuk-input--width-20" id="email" name="email" type="text" aria-describedby="email-with-hint-text-hint">
                          </div>


                          <div class="nhsuk-form-group">
                            <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
                              <div class="nhsuk-checkboxes">
                                <div class="nhsuk-checkboxes__item">
                                  <input class="nhsuk-checkboxes__input" id="agree-check" name="agree-check" type="checkbox" value="agree-check" aria-expanded="false">
                                  <label class="nhsuk-label nhsuk-checkboxes__label" for="agree-check">
                                    I agree and accept this declaration
                                  </label>
                                </div>
                              </div>
                            </fieldset>
                          </div>

                          <div class="form-group">
                            <a href="done" class="nhsuk-button">
                                Continue
                            </a>
                          </div>

                          </fieldset>
                      </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
    </div>

</div>
{% endblock %}
