<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  MYS Dispensing Doctors
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <div class="nhsuk-width-container-fluid">
        <div class="nhsuk-main-wrapper" id="maincontent">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
              <header>
                <h1>
                  High volume vaccinations
                </h1>
              </header>

                <h2 class="nhsuk-heading-m">
                  Current submissions for Meadowfield Surgery (ODS code ODS1234)
                </h2>
<br>
              <h3 class="nhsuk-heading-m">
                Current submissions
              </h3>
              <p>You have not submitted any data for these months yet. Select month for submission.</p>
              <table class="nhsuk-table">
                <thead role="rowgroup" class="nhsuk-table__head">
                  <tr role="row">
                    <th role="columnheader" class="" scope="col">
                      Month
                    </th>
                    <th></th>
                    <td role="columnheader" class="nhsuk-table__cell--align-right" scope="col">
                      <b>Action<b>
                    </td>
                  </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">January</td>
                    <td class="nhsuk-table__cell "></td>
                    <td class="nhsuk-table__cell--align-right"><a href="doctor-details">Select</a></td>
                  </tr>
                </tbody>
                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">February</td>
                    <td class="nhsuk-table__cell "></td>
                    <td class="nhsuk-table__cell--align-right"><a href="doctor-details">Select</a></td>
                  </tr>
                </tbody>
                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">March</td>
                    <td class="nhsuk-table__cell "></td>
                    <td class="nhsuk-table__cell--align-right"><a href="doctor-details">Select</a></td>
                  </tr>
                </tbody>
                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">April</td>
                    <td class="nhsuk-table__cell "></td>
                    <td class="nhsuk-table__cell--align-right"><a href="doctor-details">Select</a></td>
                  </tr>
                </tbody>
                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">May</td>
                    <td class="nhsuk-table__cell "></td>
                    <td class="nhsuk-table__cell--align-right"><a href="doctor-details">Select</a></td>
                  </tr>
                </tbody>
                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">June</td>
                    <td class="nhsuk-table__cell "></td>
                    <td class="nhsuk-table__cell--align-right"><a href="doctor-details">Select</a></td>
                  </tr>
                </tbody>
                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">July</td>
                    <td class="nhsuk-table__cell "></td>
                    <td class="nhsuk-table__cell--align-right"><a href="doctor-details">Select</a></td>
                  </tr>
                </tbody>
                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">August</td>
                    <td class="nhsuk-table__cell "></td>
                    <td class="nhsuk-table__cell--align-right"><a href="doctor-details">Select</a></td>
                  </tr>
                </tbody>
                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">September</td>
                    <td class="nhsuk-table__cell "></td>
                    <td class="nhsuk-table__cell--align-right"><a href="doctor-details">Select</a></td>
                  </tr>
                </tbody>
                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">October</td>
                    <td class="nhsuk-table__cell "></td>
                    <td class="nhsuk-table__cell--align-right"><a href="doctor-details">Select</a></td>
                  </tr>
                </tbody>
                 <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">November</td>
                    <td class="nhsuk-table__cell "></td>
                    <td class="nhsuk-table__cell--align-right"><a href="doctor-details">Select</a></td>
                  </tr>
                </tbody>
                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">December</td>
                    <td class="nhsuk-table__cell "></td>
                    <td class="nhsuk-table__cell--align-right"><a href="doctor-details">Select</a></td>
                  </tr>
                </tbody>
                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">April</td>
                    <td class="nhsuk-table__cell "></td>
                    <td class="nhsuk-table__cell--align-right"><a href="doctor-details">Select</a></td>
                  </tr>
                </tbody>
              </table>
              

              </table>
            </div>

          </div>



        </div>

      </div>

    </div>

  </div>

</div>
{% endblock %}
