<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width2.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  MYS Dispensing Doctors
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsBSA-sidebar-container">

  <div class="nhsBSA-sidebar-wrapper">
    <div class="nhsBSA-sidebar-content">
      <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container-fluid">
          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/index">Dispensing Doctors</a></li>
            <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/level-one/level-two">FP34D Submission</a></li>
          </ol>
          <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/level-one/level-two/level-three">Back to Level three</a></p>
        </div>
      </nav>
      <div class="nhsuk-width-container-fluid">

        <div class="nhsuk-main-wrapper" id="maincontent">



          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                                <header class="page-header">
                                  <span class="heading-secondary">December 2020 submission</span>
                                  <h1 class="nhsuk-heading-l">Influenza vaccine details</h1>
                                </header>

                                <form action="influenza-add-another" method="get" class="form">

                                                      <div class="nhsuk-form-group">


                                                                                <div class="test-case" style="overflow: visible">
                                                                                  <div>
                                                                                    <select id="pharmacy_fcode" class="typeahead js-hidden nhsuk-select" name="pharmacy_fcode" aria-required="true">
                                                                                      <option value="FA123 - Boots, Eldon Square, Newcastle, NE1 7XE">Adjuvanted trivalent influenza vaccine (surface antigen,Inact) Susp for Inj 0.5ml PF Syringes
                                                                                        (Seqirus Vaccines Ltd)</option>
                                                                                      <option value="FA124 - Boots, Northumberland Street, Newcastle, NE1 7DQ">Fluad vaccine suspension for injection 0.5ml PF syringes (Trivalent)(Disc 08/20)
                                                                                        (Seqirus Vaccines Ltd)</option>
                                                                                      <option value="FA125 - Boots, Newcastle Central Station, Newcastle, NE1 5DL">Fluad Tetra vaccine suspension for injection 0.5ml pre-filled syringes (Quadrivalent)
                                                                                        (Seqirus Vaccines Ltd)</option>
                                                                                      <option value="FA126 - Boots, Osborne Road, Newcastle, NE2 2AD">Fluarix Tetra/Fluarix vaccine susp for Inj 0.5ml PF Syringes (Quadrivalent)
                                                                                        (GlaxoSmithKline)</option>
                                                                                      <option value="FA127 - Boots, Gateshead Trinity Square, Gateshead, NE8 1BF">Flucelvax Tetra vaccine susp for Inj 0.5ml PF Syringes (Quadrivalent)
                                                                                        (Seqirus Vaccines Ltd)</option>
                                                                                      <option value="FA128 - Boots, Byker, Newcastle, NE6 1DN">Fluenz Tetra/Fluenz vaccine nasal suspension 0.2ml unit dose (Quadrivalent)
                                                                                        (AstraZeneca UK Ltd)</option>
                                                                                      <option value="FA129 - Boots, Dunston, Gateshead, NE11 9FJ">Imuvac vaccine susp for Inj 0.5ml PF Syringes (Trivalent)(Mylan)</option>
                                                                                      <option value="YP123 - Boots, Newcastle, NE1">Influenza MYL vaccine suspension for injection 0.5ml PF Syringes (Disc 05/19) (Trivalent)
                                                                                        (Mylan)</option>
                                                                                      <option value="YP124 - Boots, Leeds, LS1">Influenza Tetra MYL vaccine suspension for injection 0.5ml PF Syringes (Quadrivalent)
                                                                                        (Mylan)</option>
                                                                                      <option value="YP125 - Boots, Manchester, M1">Influenza Vaccine Split virion, Inact Susp for Inj 0.5ml PF Syringes (Trivalent)
                                                                                        (Pfizer Ltd)</option>
                                                                                      <option value="YP126 - Boots, Liverpool, L1">Influvac Sub-unit Vaccine Susp for Inj 0.5ml PF Syringes (Disc 05/19) (Trivalent)
                                                                                        (Mylan)</option>
                                                                                      <option value="YP126 - Boots, Liverpool, L1">Influvac Sub-unit Vaccine Susp for Inj 0.5ml PF Syringes (Disc 05/19) (Trivalent)
                                                                                        (Mylan)</option>
                                                                                      <option value="YP126 - Boots, Liverpool, L1">Influvac Sub-unit Vaccine Susp for Inj 0.5ml PF Syringes (Disc 05/19) (Trivalent)
                                                                                        (Mylan)</option>
                                                                                        <option value="YP126 - Boots, Liverpool, L1">Quadrivalent Influenza Vaccine Split virion, Inact Susp for Inj 0.5ml PF Syringes (Quadrivalent)/ Vaxigrip Tetra
                                                                                          (Sanofi Pasteur, formerly Sanofi Pasteur MSD Ltd)</option>
                                                                                          <option value="YP126 - Boots, Liverpool, L1">Trivalent influenza vaccine (split virion, inactivated) High Dose susp for
                                                                                            inj 0.5ml PF Syringes (Sanofi Pasteur)</option>
                                                                                    </select>
                                                                                  </div>
                                                                                </div>
                                                                               </div>

                                                                               <div class="nhsuk-form-group">
                                                                                 <h2 class="nhsuk-heading-m">Pack</h2>
                                                                                 <input class="nhsuk-input nhsuk-input--width-2" id="input-width-2" name="test-width-2" type="text">
                                                                               </div>

                                                                               <div class="nhsuk-form-group">
                                                                                 <h2 class="nhsuk-heading-m">Number of doses</h2>
                                                                                 <input class="nhsuk-input nhsuk-input--width-2" id="input-width-2" name="test-width-2" type="text">
                                                                               </div>

                                                                               <div id="add-2">
                                                                                 <a class="nhsuk-button nhsuk-button--secondary" href="javascript:showitem2(); hideadd1()">Add another item</a>
                                                                                        </div>

                                                                               <!-- 2nd drug item -->

                                                                                        <div id="item-2" class="items">
                                                                                           <hr>
                                                                                           <div class="grid-row">
                                                                                              <div class="column-one-third">
                                                                                                 <legend class="nhsuk-heading-m">Item 2</legend>
                                                                                              </div>
                                                                                              <div class="column-two-thirds">
                                                                                                 <div class="form-group">
                                                                                                    <p align="right"><a href="javascript: hideitem2(); showadd1();" class="nhsuk-link"><br><br>Remove</a></p>
                                                                                                 </div>
                                                                                              </div>
                                                                                           </div>
                                                                                           <div class="nhsuk-form-group">


                                                                                                                     <div class="test-case" style="overflow: visible">
                                                                                                                       <div>
                                                                                                                         <select id="pharmacy_fcode" class="typeahead js-hidden nhsuk-select" name="pharmacy_fcode" aria-required="true">
                                                                                                                           <option value="FA123 - Boots, Eldon Square, Newcastle, NE1 7XE">Adjuvanted trivalent influenza vaccine (surface antigen,Inact) Susp for Inj 0.5ml PF Syringes
                                                                                                                             (Seqirus Vaccines Ltd)</option>
                                                                                                                           <option value="FA124 - Boots, Northumberland Street, Newcastle, NE1 7DQ">Fluad vaccine suspension for injection 0.5ml PF syringes (Trivalent)(Disc 08/20)
                                                                                                                             (Seqirus Vaccines Ltd)</option>
                                                                                                                           <option value="FA125 - Boots, Newcastle Central Station, Newcastle, NE1 5DL">Fluad Tetra vaccine suspension for injection 0.5ml pre-filled syringes (Quadrivalent)
                                                                                                                             (Seqirus Vaccines Ltd)</option>
                                                                                                                           <option value="FA126 - Boots, Osborne Road, Newcastle, NE2 2AD">Fluarix Tetra/Fluarix vaccine susp for Inj 0.5ml PF Syringes (Quadrivalent)
                                                                                                                             (GlaxoSmithKline)</option>
                                                                                                                           <option value="FA127 - Boots, Gateshead Trinity Square, Gateshead, NE8 1BF">Flucelvax Tetra vaccine susp for Inj 0.5ml PF Syringes (Quadrivalent)
                                                                                                                             (Seqirus Vaccines Ltd)</option>
                                                                                                                           <option value="FA128 - Boots, Byker, Newcastle, NE6 1DN">Fluenz Tetra/Fluenz vaccine nasal suspension 0.2ml unit dose (Quadrivalent)
                                                                                                                             (AstraZeneca UK Ltd)</option>
                                                                                                                           <option value="FA129 - Boots, Dunston, Gateshead, NE11 9FJ">Imuvac vaccine susp for Inj 0.5ml PF Syringes (Trivalent)(Mylan)</option>
                                                                                                                           <option value="YP123 - Boots, Newcastle, NE1">Influenza MYL vaccine suspension for injection 0.5ml PF Syringes (Disc 05/19) (Trivalent)
                                                                                                                             (Mylan)</option>
                                                                                                                           <option value="YP124 - Boots, Leeds, LS1">Influenza Tetra MYL vaccine suspension for injection 0.5ml PF Syringes (Quadrivalent)
                                                                                                                             (Mylan)</option>
                                                                                                                           <option value="YP125 - Boots, Manchester, M1">Influenza Vaccine Split virion, Inact Susp for Inj 0.5ml PF Syringes (Trivalent)
                                                                                                                             (Pfizer Ltd)</option>
                                                                                                                           <option value="YP126 - Boots, Liverpool, L1">Influvac Sub-unit Vaccine Susp for Inj 0.5ml PF Syringes (Disc 05/19) (Trivalent)
                                                                                                                             (Mylan)</option>
                                                                                                                           <option value="YP126 - Boots, Liverpool, L1">Influvac Sub-unit Vaccine Susp for Inj 0.5ml PF Syringes (Disc 05/19) (Trivalent)
                                                                                                                             (Mylan)</option>
                                                                                                                           <option value="YP126 - Boots, Liverpool, L1">Influvac Sub-unit Vaccine Susp for Inj 0.5ml PF Syringes (Disc 05/19) (Trivalent)
                                                                                                                             (Mylan)</option>
                                                                                                                             <option value="YP126 - Boots, Liverpool, L1">Quadrivalent Influenza Vaccine Split virion, Inact Susp for Inj 0.5ml PF Syringes (Quadrivalent)/ Vaxigrip Tetra
                                                                                                                               (Sanofi Pasteur, formerly Sanofi Pasteur MSD Ltd)</option>
                                                                                                                               <option value="YP126 - Boots, Liverpool, L1">Trivalent influenza vaccine (split virion, inactivated) High Dose susp for
                                                                                                                                 inj 0.5ml PF Syringes (Sanofi Pasteur)</option>
                                                                                                                         </select>
                                                                                                                       </div>
                                                                                                                     </div>
                                                                                                                    </div>

                                                                                                                    <div class="nhsuk-form-group">
                                                                                                                      <h2 class="nhsuk-heading-m">Pack</h2>
                                                                                                                      <input class="nhsuk-input nhsuk-input--width-2" id="input-width-2" name="test-width-2" type="text">
                                                                                                                    </div>

                                                                                                                    <div class="nhsuk-form-group">
                                                                                                                      <h2 class="nhsuk-heading-m">Number of doses</h2>
                                                                                                                      <input class="nhsuk-input nhsuk-input--width-2" id="input-width-2" name="test-width-2" type="text">
                                                                                                                    </div>                                                                                           <div id="add-3" class="form-group">
                                                                                              <a class="nhsuk-button nhsuk-button--secondary" href="javascript: showitem3(); hideadd2();">Add another item</a>
                                                                                           </div>
                                                                                        </div>

                                                                               <!-- 3rd drug item -->

                                                                                        <div id="item-3" class="items">
                                                                                           <hr>
                                                                                           <div class="grid-row">
                                                                                              <div class="column-one-third">
                                                                                                 <legend class="nhsuk-heading-m">Item 3</legend>
                                                                                              </div>
                                                                                              <div class="column-two-thirds">
                                                                                                 <div id="remove-2" class="form-group">
                                                                                                    <p align="right"><a href="javascript: hideitem3(); showadd2();" class="nhsuk-link"><br><br>Remove</a></p>
                                                                                                 </div>
                                                                                              </div>
                                                                                           </div>
                                                                                           <div class="nhsuk-form-group">


                                                                                                                     <div class="test-case" style="overflow: visible">
                                                                                                                       <div>
                                                                                                                         <select id="pharmacy_fcode" class="typeahead js-hidden nhsuk-select" name="pharmacy_fcode" aria-required="true">
                                                                                                                           <option value="FA123 - Boots, Eldon Square, Newcastle, NE1 7XE">Adjuvanted trivalent influenza vaccine (surface antigen,Inact) Susp for Inj 0.5ml PF Syringes
                                                                                                                             (Seqirus Vaccines Ltd)</option>
                                                                                                                           <option value="FA124 - Boots, Northumberland Street, Newcastle, NE1 7DQ">Fluad vaccine suspension for injection 0.5ml PF syringes (Trivalent)(Disc 08/20)
                                                                                                                             (Seqirus Vaccines Ltd)</option>
                                                                                                                           <option value="FA125 - Boots, Newcastle Central Station, Newcastle, NE1 5DL">Fluad Tetra vaccine suspension for injection 0.5ml pre-filled syringes (Quadrivalent)
                                                                                                                             (Seqirus Vaccines Ltd)</option>
                                                                                                                           <option value="FA126 - Boots, Osborne Road, Newcastle, NE2 2AD">Fluarix Tetra/Fluarix vaccine susp for Inj 0.5ml PF Syringes (Quadrivalent)
                                                                                                                             (GlaxoSmithKline)</option>
                                                                                                                           <option value="FA127 - Boots, Gateshead Trinity Square, Gateshead, NE8 1BF">Flucelvax Tetra vaccine susp for Inj 0.5ml PF Syringes (Quadrivalent)
                                                                                                                             (Seqirus Vaccines Ltd)</option>
                                                                                                                           <option value="FA128 - Boots, Byker, Newcastle, NE6 1DN">Fluenz Tetra/Fluenz vaccine nasal suspension 0.2ml unit dose (Quadrivalent)
                                                                                                                             (AstraZeneca UK Ltd)</option>
                                                                                                                           <option value="FA129 - Boots, Dunston, Gateshead, NE11 9FJ">Imuvac vaccine susp for Inj 0.5ml PF Syringes (Trivalent)(Mylan)</option>
                                                                                                                           <option value="YP123 - Boots, Newcastle, NE1">Influenza MYL vaccine suspension for injection 0.5ml PF Syringes (Disc 05/19) (Trivalent)
                                                                                                                             (Mylan)</option>
                                                                                                                           <option value="YP124 - Boots, Leeds, LS1">Influenza Tetra MYL vaccine suspension for injection 0.5ml PF Syringes (Quadrivalent)
                                                                                                                             (Mylan)</option>
                                                                                                                           <option value="YP125 - Boots, Manchester, M1">Influenza Vaccine Split virion, Inact Susp for Inj 0.5ml PF Syringes (Trivalent)
                                                                                                                             (Pfizer Ltd)</option>
                                                                                                                           <option value="YP126 - Boots, Liverpool, L1">Influvac Sub-unit Vaccine Susp for Inj 0.5ml PF Syringes (Disc 05/19) (Trivalent)
                                                                                                                             (Mylan)</option>
                                                                                                                           <option value="YP126 - Boots, Liverpool, L1">Influvac Sub-unit Vaccine Susp for Inj 0.5ml PF Syringes (Disc 05/19) (Trivalent)
                                                                                                                             (Mylan)</option>
                                                                                                                           <option value="YP126 - Boots, Liverpool, L1">Influvac Sub-unit Vaccine Susp for Inj 0.5ml PF Syringes (Disc 05/19) (Trivalent)
                                                                                                                             (Mylan)</option>
                                                                                                                             <option value="YP126 - Boots, Liverpool, L1">Quadrivalent Influenza Vaccine Split virion, Inact Susp for Inj 0.5ml PF Syringes (Quadrivalent)/ Vaxigrip Tetra
                                                                                                                               (Sanofi Pasteur, formerly Sanofi Pasteur MSD Ltd)</option>
                                                                                                                               <option value="YP126 - Boots, Liverpool, L1">Trivalent influenza vaccine (split virion, inactivated) High Dose susp for
                                                                                                                                 inj 0.5ml PF Syringes (Sanofi Pasteur)</option>
                                                                                                                         </select>
                                                                                                                       </div>
                                                                                                                     </div>
                                                                                                                    </div>

                                                                                                                    <div class="nhsuk-form-group">
                                                                                                                      <h2 class="nhsuk-heading-m">Pack</h2>
                                                                                                                      <input class="nhsuk-input nhsuk-input--width-2" id="input-width-2" name="test-width-2" type="text">
                                                                                                                    </div>

                                                                                                                    <div class="nhsuk-form-group">
                                                                                                                      <h2 class="nhsuk-heading-m">Number of doses</h2>
                                                                                                                      <input class="nhsuk-input nhsuk-input--width-2" id="input-width-2" name="test-width-2" type="text">
                                                                                                                    </div>                                                                                           <div class="form-group">
                                                                                              <a class="nhsuk-button nhsuk-button--secondary" href="javascript: ">Add another item</a>
                                                                                           </div>
                                                                                        </div>



                                <!-- Review date -->

                                              <div class="form-item-wrapper">
                                                 <div class="form-group">
                                                    <input class="nhsuk-button" type="submit" value="Continue">
                                                 </div>
                                              </div>
                                            </form>                        </div>
          </div>



        </div>

      </div>

    </div>

  </div>

</div>
{% endblock %}
